body, html {
    color: #333538;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.items {   
    display: flex;
    max-width: 100%;
    margin : auto;
    padding: 16px 32px;
    justify-items: center;
    text-align: center;
}

.api {
    margin-bottom: 32px;
    vertical-align: top;
    width: 25%;
    text-align: center;
}

.api > .title a {
    color: #f27173;
    text-decoration: none;
}

.api > .title:hover {
    background-color: linen;
    border-radius: 15px;
}

.api > .caption {
    margin: 0 auto;
    text-align: center;
}

hr {
    width: 50%;
    clear: both;
    margin: 20px auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e9e7e7;
}

p {
    margin-top: -4px;
}
.title p:hover{
    background-color: lavenderblush;
    border-radius: 5px;
}

.good {
    text-align: left;
}
.bad {
    text-align: left;
}

.good li:hover, .bad li:hover {
    background-color: lavenderblush;
}


.good li, .bad li {
    padding-top: 14px;
}

