<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component/css/nav.css">
    <script src="/component/js/navbar.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- for custom icon -->
    <script src="https://kit.fontawesome.com/795ed2adfc.js" crossorigin="anonymous"></script>
</head>

<nav class="navbar">
    <div class="navbar__logo">
        <i class="fab fa-js"></i>
        <a href="/index.html">Chart Examples</a>
    </div>
    <div class="navbar__menu">
        <li><a href="/html/d3.html">D3.js</a></li>
        <li><a href="/html/chart.html">Chart.js</a></li>
        <li><a href="/html/flotr2.html">Flotr2(humble)</a></li>
        <li><a href="/html/c3.html">C3.js</a></li>
        <li><a href="/html/echart.html">eChart</a></li>
    </div>

    <a href="#" class="navbar__toogleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>
